/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer  */
@import url("./style.css");

//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc


//Surligne la page active dans la navbar
nav li:nth-child(1){
    background-color: $primaryColor;
}


.header__banner {
    width: 100%;
    height: 600px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
        margin: 0;
        color: white;
        font-size: 150px;
        font-style: italic;
        text-shadow: 3px 5px  5px black;
        
 

    }
}

main {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    q {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-size: xx-large;
        font-weight: 600;
    }

    &__text{               
        padding-top: 50px;
        font-size: large;
        text-align: center;
    }

    
    .cards {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 50px;
        
        
        &:hover{
            scale:1.02;
            box-shadow: 5px 5px 1px #95959550;
        }

        
        
        &__text {
            width: 50%;
            height: 250px;

        }

        #card1 {
            background-image: url("../images/ombriere.jpg");
        }

        #card2 {
            background-image: url("../images/ingenieur.jpg");

        }


        &__img {
            width: 50%;
            height: 250px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);


            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            display: flex;
            justify-content: end;

            

            &__overlay {
                width: 20%;
                height: 250px;
                background-color: #00000060;
                display: flex;
                justify-content: center;
                align-items: center;


                :hover {
                    img {
                        scale: 1.1;
                    }
                }

            }

        }

    }

}

@media (max-width: 576px){
    .header__banner{
        height: 250px;

        h1{
        color: white;
        font-style: italic;
        font-size: 70px;

    }
}
}

@media (max-width: 1339px){
    q{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 70px;
        font-weight: 600;
    }
    .header__banner{
        height: 250px;

        h1{
        color: white;
        font-style: italic;
        font-size: 70px;

    }
}
}

@media (max-width: 900px){
    .card__img__overlay{

        img{
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 614px){
    .card__text{
        li{
        font-size: 15px;
        }
    }
}

@media (max-width: 583px){
    .card__text{
        li{
        font-size: 14px;
        }

        p{
         font-size: 14px;
        }
    }
}

@media (max-width: 552px){
    .card__text{
        li{
        font-size: 13px;
        }

        p{
        font-size: 13px;
        }
    }
}

@media (max-width: 413px){
    .card__text{
        li{
        font-size: 11.5px;
        }

        p{
        font-size: 11.5px;
        }
    }
}

@media (max-width: 546px){
    .card__text{
        li{
        font-size: 12px;
        }

        p{
        font-size: 12px;
        }
    }
}

