/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer  */
@import url("./style.css");

//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc


//Surligne la page active dans la navbar
nav li:nth-child(1) {
    background-color: $primaryColor;
}


.header__banner {
    width: 100%;
    max-height: 600px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {

        color: white;
        font-size: 150px;
        font-style: italic;
        text-shadow: 3px 5px 5px black;
    }
}

main {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__text {
    width: 100%;
    text-align: center;
    margin-top: 50px;

    q {

        padding-top: 50px;
        font-size: 30px;
        font-weight: 600;
    }
}



.cards {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;


    &:hover {
        scale: 1.02;
        box-shadow: 5px 5px 1px #95959550;
    }



    &__text {
        width: 50%;
        height: 250px;

    }

    #card1 {
        background-image: url("../images/ombriere.jpg");
    }

    #card2 {
        background-image: url("../images/ingenieur.jpg");

    }


    &__img {
        width: 50%;
        height: 250px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);


        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: end;



        &__overlay {
            width: 20%;
            height: 250px;
            background-color: #00000060;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;

            a {
                display: block;
                width: 80%;
            }

            img {
                width: 100%;
            }

            &:hover {
                img {
                    scale: 1.1;
                }
            }

        }

    }

}




@media only screen and (min-width: 1200px) and (max-width:1400px) {


    .header__banner {
        h1 {
            font-size: 125px;
        }
    }


    main {
        width: 90%;
    }

}

@media only screen and (min-width: 992px) and (max-width:1199px) {


    .header__banner {
        h1 {
            font-size: 100px;
        }
    }

    main {
        width: 95%;
    }

}

@media only screen and (min-width: 768px) and (max-width:991px) {

    .header__banner {
        h1 {
            font-size: 75px;
        }
    }

    main {
        width: 95%;
    }

}

@media only screen and (min-width: 320px) and (max-width:768px) {


    .header__banner {
        h1 {
            font-size: 65px;
        }
    }

    main {
        width: 95%;
    }

    .card__text {
        ul {
            padding-left: 0;
        }
    }

}