/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer  */
@import url("./style.css");

//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc



//Surligne la page active dans la navbar
nav li:nth-child(6) {
    background-color: $primaryColor;
}


//Variables
$primaryColor: #94dc1f; //vert clair
$secondaryColor: #31cb00; //Vert foncé
$thirdColor: #ffdf36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff;

*{
  box-sizing:border-box;
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  width: 450px;
  height: 1000px;
  margin: auto;
  margin-bottom: 50px;
  
 

  input{
    height: 50px;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid black;
    
    &:valid{
      border: 1px solid $primaryColor;
      
      
    }
    &:invalid{
      border: 1px solid red;
      
      }
  
    &:hover{
      background-color: #94dc1f25;
      
         }  
    
  }

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  p {
    font-size: 32px;
    color: $fourthColor;
    font-weight: 10px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    
    
  }
  
  button {
    width: 100px;
    height: 50px;
    padding: 5px;
    background-color: #fff;
    border:1px solid #909090;
    border-radius: 5px;
    cursor:pointer;
  
    
    &:hover{
       scale:1.05;
    }
       
  }
  
  form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  
  #button__next{
    background-image: linear-gradient(to right top, #06d5f7, #b4ee0e);
    border-style: none;
    
      font-size: 18px;
  }

  &__navigation {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  &__navigation--liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  
  .contact__navigation--line {
    border-bottom: 1px solid $fourthColor;
    width: 135px;
    
  }

  &__navigation--etape{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $fifthColor;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  &__choix--liste {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__choix--cible {
    border: 1px solid $fourthColor;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: $primaryColor;
      border:none;
      scale: 1.05;
    }
  }
  &__form--entreprises-syndic,
  &__form--particuliers,
  &__form--projet {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width:100%;
  }
  
 
  &__form--question{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  &__submit {
    margin-top:25px;    
    width: 100px;
    background-image: linear-gradient(to right top, #06d5f7, #b4ee0e);
    border: none;    
    border-radius: 5px;
    font-size:18px;
    display:flex;
   
    &:hover{
      scale:1.05;
      color:$fifthColor;
    }
    
  }

}

 #inputPDF{
      border-style: none;
      
      
        &:hover{
          background-color:$fifthColor;
        }
    }

.inputTEL{
  width: 150px;
}

 .contact__row{
    display:flex;
    justify-content: space-between;
  }
    .contact__col{
      display:flex;
      flex-direction: column;
      
    }