@charset "UTF-8";
/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer  */
@import url("./style.css");
nav li:nth-child(6) {
  background-color: #94DC1F;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choixFormulaire {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px 0;
}

.container {
  width: 350px;
  height: auto;
  padding: 5px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: content-box;
}

.numbers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94DC1F;
  border: 1px solid #94DC1F;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 23px;
}

#number1 {
  color: #fff;
  background-color: #94DC1F;
}

#number1Question {
  color: #fff;
  background-color: #94DC1F;
}

.line {
  border-bottom: 1px solid #94DC1F;
  width: 80px;
  margin: 0;
}

form {
  width: 350px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  transform: translate(215%);
  transition: transform 330ms ease-in-out;
}
form h2 {
  text-align: center;
  display: block;
  font-size: 20px;
}

.formulaire {
  width: 450px;
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.formulaire__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}
.formulaire__col {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.half__width {
  width: 150px;
}

input[type=radio].choix {
  display: none;
}

input[type=radio].choix + label {
  padding: 0.3rem 0.5rem;
  border: 1px solid #94DC1F;
  width: 350px;
  height: 40px;
  margin-bottom: 25px;
  border-radius: 15px;
}
input[type=radio].choix + label:hover {
  scale: 1.02;
  cursor: pointer;
}

input[type=radio].choix:checked + label {
  border: 1px solid #94DC1F;
  background-color: #94DC1F;
  color: #fff;
}

input {
  height: 40px;
  border-radius: 15px;
  background: none;
  border: 2px solid #94DC1F;
  padding-left: 15px;
}

textarea {
  width: 345px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
}

label {
  margin-top: 15px;
  color: #94DC1F;
}

#inputPDF {
  border: none;
}

.button {
  width: 150px;
  height: 50px;
  background: none;
  border: 2px solid #94DC1F;
  color: #94DC1F;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
}
.button:hover {
  scale: 1.05;
}
.button__next {
  background-color: #94DC1F;
  color: #fff;
}
.button__submit {
  position: relative;
  left: 30%;
  margin-top: 50px;
  background-color: #94DC1F;
  color: #fff;
}
.button__submit:hover {
  scale: 1.05;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.valid {
  background-color: rgba(148, 220, 31, 0.1450980392);
}

.error-msg {
  color: #900;
  font-size: 12px;
  padding-left: 15px;
}

.formulaire__element {
  display: flex;
  flex-direction: column;
}

#twoNumbers {
  justify-content: center;
}

#formQuestion {
  transform: translate(108%);
}

@media only screen and (max-width: 1130px) {
  .choixFormulaire {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=contact.css.map */