/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer  */
@import url("./style.scss");

//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc


.contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  width: 450px;
  margin: auto;

  input{
    height: 50px;
    padding: 20px;
    
    :valid{
        border-color: $primaryColor;
    }
    :invalid{
        border-color:red;
    }
  }

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  p {
    font-size: 32px;
    color: $fourthColor;
    font-weight: 10px;
  }

  button {
    width: 80px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  &__navigation--liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact__navigation--line {
    border-bottom: 1px solid $fourthColor;
    width: 135px;
    
  }

  &__navigation--etape1,
  &__navigation--etape2,
  &__navigation--etape3 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $fifthColor;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #number1 {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
  }

  &__choix--liste {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__choix--cible {
    border: 1px solid $fourthColor;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: $primaryColor;
      border:none;
      scale: 1.05;
    }
  }
  &__form--entreprises-syndic,
  &__form--particuliers,
  &__form--projet {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__submit {
    width: 80px;
    background-image: linear-gradient(to right top, #06d5f7, #b4ee0e);
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
}

