/* Import du Style.css, Contient les éléments communs à toutes les pages: la nav et le footer et les variables  */
@import url("./style.css");

//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc


main{
    h1{
        display: flex;
        justify-content:center;
        margin-top: 70px;
        font-size: 40px;
        font-weight: 600;
    }

    .pr{
        width: 80% ;
        margin:auto;
        margin-top: 50px;
    }

    h2{
        font-size:xx-large;
    }

    p{
        display: flex;
        justify-content: center;
        font-size: xx-large;
        text-align: center;
    }

    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;
    }
        li{
            box-shadow :5px 5px #90909050;
        }
}

