//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert foncé
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: rgb(255, 255, 255);

//Font
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins&family=Space+Mono&display=swap');


* {
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins', sans-serif;


}

body {
    width: 100%;
    margin: 0;
}


nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;



    .nav__logo {

        img {
            height: 80px;
        }

    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0px 15px;

        :hover:not(:nth-child(6)) {
            background-color: $primaryColor;
        }

    }



    li {
        margin: 0;
        height: 80px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        &:nth-child(1){
            background-color: $primaryColor;
        }

        &:nth-child(6) {
            background-color: $thirdColor;
            width: 150px;
            height: 50px;
            border-radius: 35px;
            margin-left: 15px;

            &:hover {
                background-color: $primaryColor;
            }


        }

    }

    a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        text-align: center;
    }


}


.header__banner {
    width: 100%;
    height: 600px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
        margin: 0;
        color: white;
        font-size: 150px;
        font-style: italic;
 

    }
}

main {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    q {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-size: xx-large;
        font-weight: 600;
    }

    .texte {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-size: large;
        text-align: center;
    }

    .ombre {
        display: flex;
        justify-content: start;
        padding-top: 10px;

    }

    .cards {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 50px;

        &__text {
            width: 50%;
            height: 250px;

        }

        #card1 {
            background-image: url("../images/ombriere.jpg");
        }

        #card2 {
            background-image: url("../images/ingenieur.jpg");

        }


        &__img {
            width: 50%;
            height: 250px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);


            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            display: flex;
            justify-content: end;

            &__overlay {
                width: 20%;
                height: 250px;
                background-color: #00000060;
                display: flex;
                justify-content: center;
                align-items: center;

                :hover {
                    img {
                        scale: 1.1;
                    }
                }

            }

        }

    }

}






footer {

    background-color: $fourthColor;
    color: $fifthColor;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;



    li {
        list-style: none;
        color: $fifthColor;
    }

    a {
        text-decoration: none;
        color: $fifthColor;

        &:hover{
            text-decoration: underline;
        }
    }

    h5 {
        color: $secondaryColor;
    }


    .footer {
        &__inner {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-content: center;
            width: 80%;
        }

        &__rs {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
        }

        &__menu {
            display: flex;
            flex-flow: column wrap;

        }

        &__info {
            display: flex;
            align-items: flex-start;

        }

        &__sitemap {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

        }

        &__chevron {
            display: flex;
            align-items: center;
        }

        p {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
}

.burger{
    display:none;
}


@media screen and (max-width: 993px){
    nav{
        
        width: 100%;
        ul{
        display : none ;
        }
    }
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            font-family: sans-serif;
           
        }
        
        .burger{
            display: block;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        #burger-menu {
            cursor: pointer;
            height: 27px;
            width: 27px;
            margin: 50px;
            overflow: visible;
            position: relative;
            z-index: 2;
        
            // THE LINES
            span,
            span:before,
            span:after {
                background: #000;
                display: block;
                height: 2px;
                opacity: 1;
                position: absolute;
                transition: 0.3s ease-in-out;
            }
        
            span:before,
            span:after {
                content: '';
            }
        
            // TOP
            span:before {
                left: 0px;
                top: -10px;
                width: 27px;
            }
        
            // MIDDLE
            span {
                right: 0px;
                top: 13px;
                width: 27px;
            }
        
            // BOTTOM
            span:after {
                left: 0px;
                top: 10px;
                width: 27px;
            }
        
            // ROTATION ON CLICK
            &.close {
                // TOP
                span:before {
                    top: 0px;
                    transform: rotate(90deg);
                    width: 27px;
                }
        
                // MIDDLE
                span {
                    transform: rotate(-45deg);
                    top: 13px;
                    width: 27px;
                }
        
                // BOTTOM
                span:after {
                    top: 0px;
                    left: 0;
                    transform: rotate(90deg);
                    opacity: 0;
                    width: 0;
                }
            }
        }
        
        #menu {
            z-index: 1;
            min-width: 100%;
            min-height: 100%;
            position: fixed;
            top: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: center;
            padding-top: 20px;
            transition: all 0.3s ease-in-out;
        
            &.overlay {
                visibility: visible;
                opacity: 1;
                padding-top: 100px;
                background: rgba(0, 0, 0, 0.5);
            }
        
            ul {
                padding: 0;
            }
        
            li {
                list-style: none;
            }
        
            a {
                color: rgb(0, 0, 0);
                display: block;
                font-size: 32px;
                margin-bottom: 30px;
                text-decoration: none;
            }
        }
        
        
    }
    
    
    @media (max-width: 576px){

        .header__banner{
            height: 250px;

            h1{
            color: white;
            font-style: italic;
            font-size: 70px;
 
        }
    }

    footer{
        .footer__inner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .footer__rs{
            display: flex;
            flex-flow:wrap-reverse;
            padding-right: 50px;
        }

        .footer__chevron{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
    }
}

@media (max-width: 1339px){

    q{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 70px;
        font-weight: 600;
    }
    .header__banner{
        height: 250px;

        h1{
        color: white;
        font-style: italic;
        font-size: 70px;

    }
}


}

@media (max-width: 900px){
    footer{
        .footer__inner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .footer__rs{
            display: flex;
            
            

            ul{
                display: flex;
                flex-direction: row;
                
                li{
                    margin: 0px 15px;
                }
            }
            
        }
    
        .footer__chevron{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
    }
}

@media (max-width: 1100px ) {
    .footer__chevron{
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
        
    
}

    
        