//Variables
$primaryColor: #94DC1F; //vert clair
$secondaryColor: #31CB00; //Vert fonce
$thirdColor: #FFDF36; //Jaune
$fourthColor: #000000; //Noir
$fifthColor: #fff; //Blanc

//Font
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins&family=Space+Mono&display=swap');


* {
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins', sans-serif;


}

body {
    width: 100%;
    margin: 0;
}

//La Nav et le Footer sont importés sur toutes les pages

//Navbar

.nav__main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;



    &--logo {

        img {
            height: 80px;
        }

    }

    &--menu {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0px 15px;

            :hover:not(:nth-child(6)) {
                background-color: $primaryColor;
            }

        }



        li {
            margin: 0;
            height: 80px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;




            &:nth-child(6) {
                background-color: $thirdColor;
                width: 150px;
                height: 50px;
                border-radius: 35px;
                margin-left: 15px;

                &:hover {
                    background-color: $primaryColor;
                }


            }

        }

        a {
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            text-align: center;
        }
    }


}



//Footer

footer {

    background-color: $fourthColor;
    color: $fifthColor;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;



    li {
        list-style: none;
        color: $fifthColor;
    }

    a {
        text-decoration: none;
        color: $fifthColor;

        &:hover {
            text-decoration: underline;
        }
    }

    h5 {
        color: $secondaryColor;
    }
}

.footer {
    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        width: 80%;
    }

    &__rs {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    &__menu {
        display: flex;
        flex-flow: column wrap;

    }

    &__info {
        display: flex;
        align-items: flex-start;

    }

    &__sitemap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }

    &__chevron {
        display: flex;
        align-items: center;
    }

    p {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}


.nav__main--burger {
    display: none;
}

// Media querry affichage du burger menu


@media screen and (max-width: 993px) {
    .nav__main--menu {

        display: none;

    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: sans-serif;

    }

    .nav__main--burger {
        display: block;
        display: flex;
        justify-content: end;
        align-items: center;

    }

    #burger-menu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 50px;
        overflow: visible;
        position: relative;
        z-index: 2;

        // LIGNES DU BURGER MENU
        span,
        span:before,
        span:after {
            background: #000;
            display: block;
            height: 2px;
            opacity: 1;
            position: absolute;
            transition: 0.3s ease-in-out;
        }

        span:before,
        span:after {
            content: '';
        }

        // TOP
        span:before {
            left: 0px;
            top: -10px;
            width: 27px;
        }

        // MIDDLE
        span {
            right: 0px;
            top: 13px;
            width: 27px;
        }

        // BOTTOM
        span:after {
            left: 0px;
            top: 10px;
            width: 27px;
        }

        // ROTATION
        &.close {

            // TOP
            span:before {
                top: 0px;
                transform: rotate(90deg);
                width: 27px;
            }

            // MIDDLE
            span {
                transform: rotate(-45deg);
                top: 13px;
                width: 27px;
            }

            // BOTTOM
            span:after {
                top: 0px;
                left: 0;
                transform: rotate(90deg);
                opacity: 0;
                width: 0;
            }
        }
    }

    #menu {
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;

        &.overlay {
            visibility: visible;
            opacity: 1;
            padding-top: 100px;
            background: rgba(0, 0, 0, 0.8);
        }

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            list-style: none;
            background-color: #31CB0000;


            &:nth-child(6) {
                background-color: $thirdColor;
                width: 200px;
                height: 50px;
                border-radius: 35px;
                margin-left: 15px;
                display: flex;
                justify-content: center;
                padding-top: 5px;



                a {
                    color: $fourthColor;
                }

                &:hover {
                    background-color: $primaryColor;

                }


            }


        }

        a {
            color: $fifthColor;

            display: block;
            font-size: 32px;
            margin-bottom: 30px;
            text-decoration: none;
        }
    }
}





@media only screen and (min-width: 992px) and (max-width:1199px) {

    .footer__inner {
        width: 95%;

    }

}

@media only screen and (min-width: 0px) and (max-width:991px) {

    .footer__inner {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        ul {
            padding-left: 0;
            display: flex;
            flex-direction: column;

        }
    }

    .footer__rs {
        ul {
            padding-left: 0;
            display: flex;
            flex-direction: row;

        }

        li {
            margin: 0 15px;
        }
    }


    .footer {
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__sitemap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


    }



}






// @media (max-width: 576px) {

//     .nav__logo {
//         width: 100%;
//     }

//     .menu__liens {
//         display: block;
//     }

//     footer {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;



//     }

//     .footer {
//         &__inner {
//             width: 100%;

//         }

//         &__rs {
//             display: flex;
//             justify-content: center;
//             flex-flow: wrap-reverse;

//         }

//         &__info {
//             display: flex;
//             justify-content: center;
//         }

//         &__menu {
//             display: flex;
//             justify-content: center;
//         }

//         &__sitemap {
//             display: flex;
//             justify-content: center;
//         }


//     }

// }