@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins&family=Space+Mono&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
nav .nav__logo img {
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px 15px;
}
nav ul :hover:not(:nth-child(6)) {
  background-color: #94DC1F;
}
nav li {
  margin: 0;
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li:nth-child(1) {
  background-color: #94DC1F;
}
nav li:nth-child(6) {
  background-color: #FFDF36;
  width: 150px;
  height: 50px;
  border-radius: 35px;
  margin-left: 15px;
}
nav li:nth-child(6):hover {
  background-color: #94DC1F;
}
nav a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  text-align: center;
}

.header__banner {
  width: 100%;
  height: 600px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__banner h1 {
  margin: 0;
  color: white;
  font-size: 150px;
  font-style: italic;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main q {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: xx-large;
  font-weight: 600;
}
main .texte {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: large;
  text-align: center;
}
main .ombre {
  display: flex;
  justify-content: start;
  padding-top: 10px;
}
main .cards {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 50px;
}
main .card__text {
  width: 50%;
  height: 250px;
}
main .card #card1 {
  background-image: url("../images/ombriere.jpg");
}
main .card #card2 {
  background-image: url("../images/ingenieur.jpg");
}
main .card__img {
  width: 50%;
  height: 250px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}
main .card__img__overlay {
  width: 20%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3764705882);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .card__img__overlay :hover img {
  scale: 1.1;
}

footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
footer li {
  list-style: none;
  color: rgb(255, 255, 255);
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer a:hover {
  text-decoration: underline;
}
footer h5 {
  color: #31CB00;
}
footer .footer__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  width: 80%;
}
footer .footer__rs {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
footer .footer__menu {
  display: flex;
  flex-flow: column wrap;
}
footer .footer__info {
  display: flex;
  align-items: flex-start;
}
footer .footer__sitemap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer .footer__chevron {
  display: flex;
  align-items: center;
}
footer .footer p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.burger {
  display: none;
}

@media screen and (max-width: 993px) {
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
  }
  .burger {
    display: block;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #000;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
#burger-menu span:after {
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
  }
  #menu a {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}
@media (max-width: 576px) {
  .header__banner {
    height: 250px;
  }
  .header__banner h1 {
    color: white;
    font-style: italic;
    font-size: 70px;
  }
  footer .footer__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .footer__rs {
    display: flex;
    flex-flow: wrap-reverse;
    padding-right: 50px;
  }
  footer .footer__chevron {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1339px) {
  q {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
  }
  .header__banner {
    height: 250px;
  }
  .header__banner h1 {
    color: white;
    font-style: italic;
    font-size: 70px;
  }
}
@media (max-width: 900px) {
  footer .footer__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .footer__rs {
    display: flex;
  }
  footer .footer__rs ul {
    display: flex;
    flex-direction: row;
  }
  footer .footer__rs ul li {
    margin: 0px 15px;
  }
  footer .footer__chevron {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1100px) {
  .footer__chevron {
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
}/*# sourceMappingURL=style.css.map */